extends layout
block head
  title Asteroid Bot
  link(rel="stylesheet", href="/css/portal.css")
block body
  h1.headline Amazing Asteroid is Coming.
  h3 #{servers} Servers / #{users} Users
  button.addbtn(onClick='window.open(`https://discordapp.com/api/oauth2/authorize?client_id=576763498558652425&permissions=8&scope=bot`, `_blank`)') Add to Discord
  button.contactbtn(onClick='window.open(`https://discord.gg/UzmJ3h8`, `_blank`)') Contact Us