body {
  background-color: #23272A;
  text-align: center;
  font-family: poppins, Arial, Helvetica, sans-serif;
}

body h1, body h2, body h3 {
  color: white;
  font-family: poppins, Arial, Helvetica, sans-serif;
}

.headline {
  font-weight: bolder;
}

.addbtn {
  border: 0;
  outline: 0;
  width: 15rem;
  height: 6rem;
  background-color: skyblue;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: white;
  font-weight: bolder;
}
