body {
  background-color: #23272A;
  text-align: center;
  font-family: poppins, Arial, Helvetica, sans-serif;
}

body h1, body h2, body h3 {
  color: white;
  font-family: poppins, Arial, Helvetica, sans-serif;
}